# Next.js DB 연결 (Prisma)
DATABASE_URL=postgresql://user:password@inventory-web-postgres:5432/inventory?schema=hr

# NextAuth (Phase 7에서 실제 값 채움)
NEXTAUTH_URL=http://localhost:3998
NEXTAUTH_SECRET=your_secret_here
GOOGLE_CLIENT_ID=
GOOGLE_CLIENT_SECRET=

# 임시 인증 우회 (Phase 7 SSO 전까지)
DISABLE_AUTH=true
