SNMP_COMMUNITY=your_16_char_community_string

# 폴러용 DB 연결 (URL 인코딩 회피를 위해 분리)
POLLER_DB_HOST=192.168.0.x
POLLER_DB_PORT=5432
POLLER_DB_NAME=your_database_name
POLLER_DB_USER=your_user
POLLER_DB_PASSWORD=your_password_special_chars_ok

POLLER_LOG_LEVEL=INFO
POLLER_LOG_FILE=poller/poller.log
POLLER_DRY_RUN=false
